<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-touch-icon.png?v=qA3OXqyw77' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/img/icons/favicon-32x32.png?v=qA3OXqyw77' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/img/icons/favicon-16x16.png?v=qA3OXqyw77' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/img/icons/manifest.json?v=qA3OXqyw77' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/img/icons/safari-pinned-tab.svg?v=qA3OXqyw77' | relative_url }}" color="#5bbad5">
  <!--[if IE]><link rel="shortcut icon" href="/assets/img/icons/favicon.ico?v=qA3OXqyw77"><![endif]-->
  <link rel="shortcut icon" href="{{ '/assets/img/icons/favicon.ico?v=qA3OXqyw77' | relative_url }}">
  <meta name="apple-mobile-web-app-title" content="IT.BR Australia">
  <meta name="application-name" content="IT.BR Australia">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/img/icons/apple-icon-57x57.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ '/assets/img/icons/apple-icon-60x60.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ '/assets/img/icons/apple-icon-72x72.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ '/assets/img/icons/apple-icon-76x76.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ '/assets/img/icons/apple-icon-114x114.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ '/assets/img/icons/apple-icon-120x120.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ '/assets/img/icons/apple-icon-144x144.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ '/assets/img/icons/apple-icon-152x152.png' | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/icons/apple-icon-180x180.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ '/assets/img/icons/android-icon-192x192.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/icons/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/icons/favicon-96x96.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/icons/favicon-16x16.png' | relative_url }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ '/assets/img/icons/ms-icon-144x144.png' | relative_url }}">
  <meta name="msapplication-config" content="{{ '/assets/img/icons/browserconfig.xml?v=qA3OXqyw77' | relative_url }}">
  <meta name="theme-color" content="#ffffff">


  {% if site.google_tag_manager %}

    {% include gtm.html %}

  {% endif %}

  <style class="inlineCSS">

    {% include critical.css %}

  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>
</head>
